﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>@ViewData["Title"] - Selama Ashalanore!</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/semantic/dist/semantic.css" />
        <link rel="stylesheet" href="lib/semantic-ui-calendar/dist/calendar.css" />
        <link rel="stylesheet" href="~/css/shared/font-awesome.css" />
        <link rel="stylesheet" href="css/shared/shared.css" />
        <link rel="stylesheet" href="~/css/shared/menu.css" />
        <link rel="stylesheet" href="~/css/shared/pager.css" />
        <link rel="stylesheet" href="~/css/shared/forms.css" />
        
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/semantic/dist/semantic.js"></script>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/semantic/dist/semantic.min.css"
              asp-fallback-href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" />
        <link rel="stylesheet" href="lib/semantic-ui-calendar/dist/calendar.min.css" />
        <link rel="stylesheet" href="~/css/shared/font-awesome.min.css" />
        <link rel="stylesheet" href="css/shared/shared.min.css"
              asp-append-version="true" />
        <link rel="stylesheet" href="~/css/shared/menu.min.css"
              asp-append-version="true" />
        <link rel="stylesheet" href="~/css/shared/pager.min.css"
              asp-append-version="true" />
        <link rel="stylesheet" href="~/css/shared/forms.min.css"
              asp-append-version="true" />
        
        <script src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js">
        </script>
        <script src="~/lib/semantic/dist/semantic.min.js"
                asp-fallback-src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js">
        </script>
    </environment>
    <link rel="icon" type="image/png" href="https://worldofwarcraft.com/static/components/Logo/Logo-wowIcon-01e2c44379.png">
    @RenderSection("styles", false)
</head>
<body class="pushable">
    <div class="ui vertical left inverted overlay sidebar main menu">
        @{ await Html.RenderPartialAsync("MenuItems"); }
    </div>
    <div class="pusher">
        <div class="pusher-content-wrapper">
            <div class="full height">
                <div class="ui inverted top fixed large menu mobile">
                    <a class="item sidebar-toggle">
                        <i class="fa fa-bars"></i>
                    </a>
                    <a class="brand item" asp-area="" asp-controller="Home" asp-action="Index">
                        Selama
                    </a>
                </div>
                <div class="ui vertical left inverted pointing main menu">
                    <a class="brand item" asp-area="" asp-controller="Home" asp-action="Index">
                        Selama
                    </a>
                    @{ await Html.RenderPartialAsync("MenuItems"); }
                </div>
                <div class="main-content">
                    <div class="container">
                        @RenderBody()
                    </div>
                    <div id="confirmModal" class="ui modal">
                        <div class="header">
                            Confirm
                        </div>
                        <div class="content">
                        </div>
                        <div class="actions">
                            <div class="ui primary approve button">
                                Okay
                            </div>
                            <div class="ui cancel button">
                                Cancel
                            </div>
                        </div>
                    </div>
                    <div class="footer container">
                        <footer>
                            <p>&copy; @DateTime.Now.Year - Selama Ashal'anore!</p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <environment names="Development">
        <script src="~/js/shared/jquery.unobtrusive-ajax-custom.js"></script>
        <script src="js/shared/shared.js"></script>
        <script src="~/js/shared/menu.js"></script>
        <script src="js/shared/confirm-modal.js"></script>
        <script src="lib/semantic-ui-calendar/dist/calendar.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/shared/jquery.unobtrusive-ajax-custom.min.js"
                asp-append-version="true">
        </script>
        <script src="~/js/shared/menu.min.js"
                asp-append-version="true">
        </script>
        <script src="js/shared/confirm-modal.js"
                asp-append-version="true"></script>
        <script src="lib/semantic-ui-calendar/dist/calendar.min.js"></script>
    </environment>
    @RenderSection("scripts", false)
</body>
</html>
