﻿@inject SignInManager<ApplicationUser> SignInManager

@{
    var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
    if (loginProviders.Count == 0)
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else
    {
        <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <div>
                <p>
                    @foreach (var provider in loginProviders)
                    {
                        <button type="submit" class="ui fluid huge @provider.AuthenticationScheme.ToLower() social button" name="provider" value="@provider.AuthenticationScheme">
                            <i class="@provider.AuthenticationScheme.ToLower() icon"></i>
                            @provider.DisplayName
                        </button>
                    }
                </p>
            </div>
        </form>
    }
}