﻿@import "_mixins.less";
@import "_screen-sizes.less";

html, body
{
    height: 100%;
}

.hidden
{
    display: none!important;
}

.segment
{
    &.warning
    {
        border-style: solid;
        border-width: 1px;
        .warning();
    }

    &.success
    {
        border-style: solid;
        border-width: 1px;
        .succcess();
    }
}

.container
{
    &.footer
    {
        margin-top: 15px;
    }
}

.ui.modal
{
    > form
    {
        > .content
        {
            display: block;
            width: 100%;
            font-size: 1em;
            line-height: 1.4;
            padding: 1.5rem;
            background: #FFFFFF;
        }

        > .actions
        {
            background: #F9FAFB;
            padding: 1rem 1rem;
            border-top: 1px solid rgba(34, 36, 38, 0.15);
            text-align: right;
        }
    }
}

.markdown-editor
{
    width: 95%;
    margin: 0 auto;
}